.j-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon-duihao {
  background: transparent url(~@/assets/image/icon-duihao.png) no-repeat center;
  background-size: contain;
}

.icon-checkbox-choose {
  background: transparent url(~@/assets/image/icon-checkbox-choose.png) no-repeat center;
  background-size: contain;
}

.icon-wx-pay {
  background: transparent url(~@/assets/image/icon-wx-pay.png) no-repeat center;
  background-size: contain;
}

.icon-ali-pay {
  background: transparent url(~@/assets/image/icon-ali-pay.png) no-repeat center;
  background-size: contain;
}
